

.dodo{
    display: block;
    color:#e42626;
    font-size:13px;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#683a25;
    box-shadow:6px 7px 0 #734a32;
}

