.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#BBACC1;
}

.importantlinkss {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#78acd3;
}

.list1 {
    float: left;
    border-right: 1px solid #F1DEDE;
    font-size:29px;
}
.list2 {
    float: right;
    border-left: 1px solid #F1DEDE;
}
li a {
    display: block;
    color: #12263A;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #7156ac;
    color: #392B58;
}

li:last-child {
    border-right: none;
}

tr,
th {
    border-color: #BBACC1;
    border: 1px solid;
}

body {
    background-image: url("bg.jpeg");
}
header{
    background-color:#F1DEDE;
    height:fit-content;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    color: #12263A;
    text-shadow: -4px -2px 0 #58A4B0;
}
aside{
    grid-area: aside;
    background-color: #78acd3;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    color: #12263A;
    text-shadow: -4px -2px 0 #58A4B0;
}

.jojo {
    display: block;
    background-color: #F1DEDE;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 6px 7px 0 #392B58;
}

.dodo {
    display: block;
    color: #392B58;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #BBACC1;
    box-shadow: 6px 7px 0 #392B58;
}

.logo {
    width: 200px;
    height: 50px;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
}

.active {
    background-color: rgb(241, 222, 222,0.6);

}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 18px;
    color: #201611;
    text-shadow: 1px 0px 0 #866120;
    margin-left:100px;
}
details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 15px;
    color: #201611;
    background-color:rgb(231, 205, 147,0.5);
    border-bottom: 1px solid rgba(245, 215, 171, 0.8);
    margin-left:100px;
    margin-right:100px;
}
div{
    display:block;
    align:center;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:0;
    background-color:#f5e5df;
    border-radius: 200px;
}
.dashboard{
    background-color:#78acd3;
    width:80%;
    height:150px;
    font-family:serif;
    margin-left:auto;
    margin-right:auto;
  border: 3px solid;
  border-collapse: collapse;
  border-style:double;
}

.imgmain{
height:300px;
weight:200px;
}
.editmain{

    background-color:#BBACC1;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
